body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
  
  .container{
    background-color: rgb(243, 200, 245);
    border: 3px solid plum;
    margin: 15% auto;
    width: 300px;
    height: auto;
    color: white;
    text-align: center;
    border-collapse: collapse;
    background-color:  cadetblue;
  }
  h1{
    border-top: 1px solid bisque;
    height: 50px;
  }
  h2{
    border-top: 1px solid bisque;
    height: 50px;
  }
  h3{
    border-top: 1px solid bisque;
    height: 50px;
  }
  h4{
    border-top: 1px solid bisque;
    height: 50px;
  }
  h5{
    background-color: cadetblue;
    height: 50px;
    text-align: center;
    padding-top: 10%;
    font-size: 18px;
  }